/**
 * Font face.
 */


@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('/assets/fonts/rubik-v19-latin/rubik-v19-latin-300.woff2') format('woff2'),
    url('/assets/fonts/rubik-v19-latin/rubik-v19-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('/assets/fonts/rubik-v19-latin/rubik-v19-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/rubik-v19-latin/rubik-v19-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('/assets/fonts/rubik-v19-latin/rubik-v19-latin-500.woff2') format('woff2'),
    url('/assets/fonts/rubik-v19-latin/rubik-v19-latin-500.woff') format('woff');
}
